legacy-peer-deps=true
ignore-scripts=false
optional=true
fetch-timeout=60000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
include=optional
save-optional=true
produce-package-lock=true
force=true
